<ul class="main-menu">
  {% for item in site.data.menus.main %}
    <li class="menu-item {% if item.dropdown %}has-dropdown{% endif %}">
      <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
      
      {% if item.dropdown %}
        <ul class="sub-menu-container">
          {% for subitem in item.dropdown %}
            <li class="sub-menu-item">
              <a href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>