<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in site.data.navigation.main %}
    <li class="menu-item {% if item.dropdown %}has-dropdown{% endif %}">
      <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
      {% if item.dropdown %}
        <ul class="dropdown-menu">
          {% for subitem in item.dropdown %}
            <li><a href="{{ subitem.link | relative_url }}">{{ subitem.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>